body{
	margin: 0;
	background: orange;
}
.flex {
	display: flex;
	margin: 100px 100px;

}
.hole {
	height: 100px;
	width: 200px;
	background-image: url(dirt.svg);
	margin-left: 50px;
	background-size: 100% 100%;
	z-index: 2;
}
.krot {
	position: absolute;
	width: 150px;
	z-index: 1;
}
.score {
	text-align: center;
	font-family: arial;
	font-size: 20px;
}